.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }
    
    .title {
    font-size: 36px;
    color: red;
    }
    
    .subtitle {
    font-weight: 600;
    color: red;
    margin-top: 20px;
    }
    
    .search-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    }
    
    input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    }
    
    button[type="submit"] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    }