
.site_entete{


}
.logomenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-entete-container {
    flex: 1;
    background-color: black;
    
    .menu {
        // ul
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin-left: auto;

        .menu-item {
            // li 
            flex: 1 0 50px;

            a {
                text-decoration: none;
                padding: 3px 6px;
                color: white;
            }

            a:hover {
                color: darkolivegreen;

            }
 
        }

    }
}